:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #3A3A3A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  transition: background .5s linear, 
              background-color .5s linear, 
              background-image .5s linear, 
              color .1s linear, 
              outline .5s linear, 
              filter .2s linear,
              opacity .2s linear,
              box-shadow .2s linear;
}

*:disabled:hover {
  cursor: not-allowed;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  color: #9d9d9d;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffffde;
  }
}
